@media (min-width: 1024px) {
  .ant-form-item {
    margin-bottom: 5px !important;
  }
}
@media (min-width: 1440px) {
  .ant-form-item {
    margin-bottom: 7px !important;
  }
}
@media (min-width: 1024px) {
  .date-picker {
    width: 250px !important;
    height: 32px !important;
  }
}
@media (min-width: 1440px) {
    .date-picker {
      width: 280px !important;
      height: 35px !important;
}
}
@media (min-width: 1024px) {
    .button-item {
      width: 270px !important;
      height: 32px !important;
    }
}
@media (min-width: 1440px) {
    .button-item {
      width: 290px !important;
      height: 35px !important;
    }
}